{% extends 'base.html.twig' %}

{% block title %}Mark index{% endblock %}


{% block heading_h1 %}
    liste des Marques
{% endblock %}

{% block heading_btn %}

    <a href="{{ path('mark_new') }}"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Créer un nouveau
    </a>
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Logo</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mark in marks %}
                        <tr>
                            <td>{{ mark.id }}</td>
                            <td>{{ mark.name }}</td>
                            <td>{{ mark.description }}</td>
                            <td>{{ mark.logo }}</td>
                            <td>
                                <a class="btn btn-info btn-circle btn-sm"
                                   href="{{ path('mark_show', {'id': mark.id}) }}"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-info btn-circle btn-sm"
                                   href="{{ path('mark_edit', {'id': mark.id}) }}"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
